name: ci-cd
on: [push]
jobs:
  app-setup:
    runs-on: ubuntu-latest
   
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v2
      
      - name: Install dependencies
        run: npm install

      - name: use cache 
        uses: actions/cache@v2
        with:
          path: "./*"
          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}          

  deploy:
    runs-on: ubuntu-latest

    steps:
        - name: Checkout
          uses: actions/checkout@v2

        - name: Configure AWS credentials
          uses: aws-actions/configure-aws-credentials@v1
          with:
            role-to-assume: arn:aws:iam::134491901103:role/GitHubActionsRole
            aws-region: eu-west-2

        - name: Deploy to S3
          run:
          aws deploy push
          --application-name kush-app
          --ignore-hidden-files
          --s3-location s3://kush-bucket/acebook.zip
          --source .

        - name: AWS Create Deployment
          run:
          aws deploy create-deployment
          --application-name kush-app
          --s3-location bucket=kush-bucket,key=acebook.zip,bundleType=zip
          --deployment-group-name kush-group
          --file-exists-behavior OVERWRITE